#solarCarousel .carousel-item {
    height: calc(100vh - 56px);
    min-height: 400px;
}

#solarCarousel .carousel-item img {
    height: calc(100vh - 56px);
    object-fit: cover;
    width: 100%;
}
